@import './animations.scss';



$unit : 808px;
$width : $unit;
$height : $unit;
$multiplier:200;
$vmultiplier:50;
$hmiddle: 30vw;

$bottom: 75vh;
$vmiddle: calc($bottom/2);
$right: 85vw;

$arrow-left: calc($height/2);
$arrow-width:$right;
.main{    

    #paths {
        z-index: -1;
        position: absolute;
        overflow: visible;
        ::ng-deep .path {
            fill: none;
            stroke: #000000;
            stroke-width: 6;
        }
      
      }

    .content{
        position: relative;
        width: 100%;
        height: 100%;

        .bordered{
            //border: 3px solid black; 
        }

        .arrow{
            position: absolute;
            height: fit-content;
        }

        .first{
            @extend .arrow;
            top: 0;
            left: 0;
            $arrow-width:$right;
            height: 100px;
            width: $arrow-width
        }
        
        .holder {
            @extend .bordered;
            position: absolute;
            left: 0;
            top: 0;
            width: $width;
            height: $height;
            *{
                border: none;
            }
        }

        .sun{
            @extend .holder
        }

        .wind{
            @extend .holder;
            width: $width;
            height: $height;
            left: 0;
            top: calc($bottom/3);
        }

        .battery{
            @extend .holder;
            width: $width;
            height: $height;
            left: 0;
            top: calc($bottom/1.50);
        }

        .tower{
            @extend .holder;
            width: $width;
            height: $height;
            left: 0;
            top: $bottom;
        }

        
        .bulb{
            @extend .holder;
            width: $width;
            height: $height;
            left: calc($right);
            top: $vmiddle;
        }

        .text{
            @extend .bordered;
            position: absolute;
            height: $height;
            top: $vmiddle;
            left: calc($right/2);
            font-size: 200px;
            width: fit-content;
            text-align: center;
            vertical-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
   }
}